<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ ApplicationName }}</title>
    <link rel="stylesheet" href="/public/style.css">
    <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/2.0.4/htmx.min.js"
        integrity="sha512-2kIcAizYXhIn8TzUvqzEDZNuDZ+aW7yE/+f1HJHXFjQcGNfv1kqzJSTBRBSlOgp6B/KZsz1K0a3ZTqP9dnxioQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body class="flex flex-col justify-between bg-base-200 min-h-screen" hx-boost="true" hx-indicator="#page-progress">
    {{ include "page-progress" }}
    {{ include "header" }}

    <main class="flex flex-col gap-4 mx-auto mt-8 md:mt-12 mb-auto max-w-3xl container">
        {{ embed() }}
    </main>

    <footer class="items-center bg-base-100 mt-12 p-4 border-t border-base-300 text-base-content footer">
        {{ include "footer" }}
    </footer>

    <div id="modal"></div>
</body>

</html>
