{{block inputErrorFor(key="value")}}
{{if isset(errors) && isset(errors[key])}}
<div class="mt-2">
    <ul class="text-error text-sm">
        {{range _, error := errors[key]}}
        <li>{{error}}</li>
        {{end}}
    </ul>
</div>
{{end}}
{{end}}

<div id="forgot-password-form" class="flex bg-base-100 shadow-2xl w-96 card">
    <div class="card-body">
        <form hx-post="/forgot-password" hx-swap="outerHTML" hx-target="#forgot-password-form">
            <h3 class="font-semibold text-lg">Forgot your password?</h3>
            <p class="text-sm">
                Don't fret! Just type in your email and we will send you a code to reset your password!
            </p>

            {{if isset(actionMessage)}}
            <div class="mt-2 font-medium text-info text-sm">
                {{actionMessage}}
            </div>
            {{end}}

            <div class="form-control mt-4">
                <label class="label">
                    <span class="label-text">Your email</span>
                </label>
                <input type="email" name="email" placeholder="email@company.com" class="input-bordered input" autofocus
                    required />
                {{yield inputErrorFor(key="email")}}
            </div>
            <div class="form-control mt-6">
                <button type="submit" class="btn btn-primary">Reset password</button>
            </div>
        </form>

        <p class="text-base-content text-sm">
            Remembered your password?
            <a href="login" class="link link-hover link-primary">Login here</a>
        </p>
    </div>
</div>
