<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custodian - Your profile</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>
    <script src="http://localhost:9090"></script>
</head>

<body class="flex flex-col justify-between bg-base-200">
    <!-- Navbar : Start -->
    <header class="flex justify-between items-center px-4 py-2">
        <div class="mx-auto max-w-5xl navbar">
            <div class="navbar-start">
                <a href="/">
                    <h1 class="font-extrabold text-4xl text-primary">Custodian</h1>
                    <p class="-mt-1.5 ml-6 font-semibold text-lg text-secondary">HTML Template</p>
                </a>
            </div>

            <div class="flex items-center gap-4 navbar-end">
                <select name="choose-theme" class="sm:block hidden max-w-xs select-bordered select" data-choose-theme>
                    <option disabled selected>Pick your theme</option>
                    <option value="light">Default</option>
                    <option value="cupcake">Cupcake</option>
                    <option value="bumblebee">Bumblebee</option>
                    <option value="emerald">Emerald</option>
                    <option value="corporate">Corporate</option>
                    <option value="synthwave">Synthwave</option>
                    <option value="retro">Retro</option>
                    <option value="cyberpunk">Cyberpunk</option>
                    <option value="valentine">Valentine</option>
                    <option value="halloween">Halloween</option>
                    <option value="garden">Garden</option>
                    <option value="forest">Forest</option>
                    <option value="aqua">Aqua</option>
                    <option value="lofi">Lofi</option>
                    <option value="pastel">Pastel</option>
                    <option value="fantasy">Fantasy</option>
                    <option value="wireframe">Wireframe</option>
                    <option value="black">Black</option>
                    <option value="luxury">Luxury</option>
                    <option value="dracula">Dracula</option>
                    <option value="cmyk">Cmyk</option>
                    <option value="autumn">Autumn</option>
                    <option value="business">Business</option>
                    <option value="acid">Acid</option>
                    <option value="lemonade">Lemonade</option>
                    <option value="night">Night</option>
                    <option value="coffee">Coffee</option>
                    <option value="winter">Winter</option>
                    <option value="dim">Dim</option>
                    <option value="nord">Nord</option>
                    <option value="sunset">Sunset</option>
                </select>

                <div class="dropdown dropdown-end">
                    <div tabindex="0" role="button" class="bg-base-100 m-1 btn">
                        <svg class="w-5 h-5" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor"
                            viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z">
                            </path>
                        </svg>
                    </div>
                    <ul tabindex="0"
                        class="z-[1] bg-base-100 shadow p-2 border border-base-200 rounded-box w-44 dropdown-content menu">
                        <li><a href="/profile.html">Profile</a></li>
                        <li><a href="/login.html">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!-- Navbar : End -->

    <!-- Main Content : Start -->
    <main class="flex flex-col gap-4 mx-auto mt-8 md:mt-12 mb-auto max-w-3xl container">
        <div class="flex justify-between items-center mb-8 px-6 md:px-0">
            <h3 class="font-extrabold text-3xl">Your profile</h3>

            <a href="/index.html" class="flex items-center gap-2 link link-hover">
                <svg class="w-4 h-4" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor"
                    viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18">
                    </path>
                </svg>
                Return to tasks</a>
        </div>

        <!-- Task Card : Start -->
        <div class="flex flex-col gap-8 sm:px-6 py-4 rounded-md">

            <!-- Account details : Start -->
            <div class="gap-4 grid grid-cols-1 md:grid-cols-5">
                <div class="md:col-span-2 px-6 sm:px-0 prose">
                    <h3 class="font-semibold text-xl">Account details</h3>
                    <p>Update your account's profile information and email address.</p>
                </div>

                <div class="flex flex-col flex-1 md:col-span-3 bg-base-100 border border-base-300 sm:rounded-md">
                    <div class="flex flex-col gap-4 px-4 py-3 w-full">
                        <label class="form-control px-4 w-full">
                            <div class="label">
                                <span class="label-text">Name</span>
                            </div>
                            <input type="text" placeholder="Type here" value="John Doe"
                                class="input-bordered w-full max-w-xs input" />
                        </label>

                        <label class="form-control px-4 w-full">
                            <div class="label">
                                <span class="label-text">Email</span>
                            </div>
                            <input type="email" placeholder="name@company.com" value="john@example.com"
                                class="input-bordered w-full max-w-xs input" />
                        </label>
                    </div>

                    <div class="my-0 py-0 divider"></div>

                    <div class="flex justify-end px-4 py-3">
                        <button class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
            <!-- Account details : End -->

            <div class="divider"></div>

            <!-- Change password : Start -->
            <div class="gap-4 grid grid-cols-1 md:grid-cols-5">
                <div class="md:col-span-2 px-6 sm:px-0 prose">
                    <h3 class="font-semibold text-xl">Update Password</h3>
                    <p>Ensure your account is using a long, random password to stay secure.</p>
                </div>

                <div class="flex flex-col flex-1 md:col-span-3 bg-base-100 border border-base-300 sm:rounded-md">
                    <div class="flex flex-col gap-4 px-4 py-3 w-full">
                        <label class="form-control px-4 w-full">
                            <div class="label">
                                <span class="label-text">Current password</span>
                            </div>
                            <input type="password" class="input-bordered w-full max-w-xs input" />
                        </label>
                        <label class="form-control px-4 w-full">
                            <div class="label">
                                <span class="label-text">New password</span>
                            </div>
                            <input type="password" class="input-bordered w-full max-w-xs input" />
                        </label>
                        <label class="form-control px-4 w-full">
                            <div class="label">
                                <span class="label-text">Confirm password</span>
                            </div>
                            <input type="password" class="input-bordered w-full max-w-xs input" />
                        </label>
                    </div>

                    <div class="my-0 py-0 divider"></div>

                    <div class="flex justify-end px-4 py-3">
                        <button class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
            <!-- Change password : End -->

            <div class="divider"></div>

            <!-- Delete Account : Start -->
            <div class="gap-4 grid grid-cols-1 md:grid-cols-5">
                <div class="md:col-span-2 px-6 sm:px-0 prose">
                    <h3 class="font-semibold text-xl">Delete Account</h3>
                    <p>Permanently delete your account.</p>
                </div>

                <div class="flex flex-1 border-error md:col-span-3 bg-error shadow p-2 border sm:rounded-md">
                    <div class="bg-base-100 shadow p-4 border border-base-300 rounded-md max-w-none prose">
                        <p>
                            Once your account is deleted, all of its resources and data will be permanently deleted.
                            Before deleting your account, please download any data or information that you wish to
                            retain.
                        </p>

                        <button onclick="deleteUserProfileModal.showModal()"
                            class="text-error-content btn btn-error">Delete Account</button>
                    </div>
                </div>
            </div>
            <!-- Delete Account : End -->
        </div>
        <!-- Task Card : End -->
    </main>
    <!-- Main Content : End -->

    <!-- Footer : Start -->
    <footer class="items-center bg-base-100 mt-12 p-4 border-t border-base-300 text-base-content footer">
        <div class="flex justify-between items-center mx-auto max-w-3xl container">
            <aside class="items-center grid-flow-col">
                <p>Custodian - HTML Template - Checkout the source code on GitHub</p>
            </aside>
            <nav class="flex">
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 fill-current" viewBox="0 0 30 30">
                        <path
                            d="M15,3C8.373,3,3,8.373,3,15c0,5.623,3.872,10.328,9.092,11.63C12.036,26.468,12,26.28,12,26.047v-2.051 c-0.487,0-1.303,0-1.508,0c-0.821,0-1.551-0.353-1.905-1.009c-0.393-0.729-0.461-1.844-1.435-2.526 c-0.289-0.227-0.069-0.486,0.264-0.451c0.615,0.174,1.125,0.596,1.605,1.222c0.478,0.627,0.703,0.769,1.596,0.769 c0.433,0,1.081-0.025,1.691-0.121c0.328-0.833,0.895-1.6,1.588-1.962c-3.996-0.411-5.903-2.399-5.903-5.098 c0-1.162,0.495-2.286,1.336-3.233C9.053,10.647,8.706,8.73,9.435,8c1.798,0,2.885,1.166,3.146,1.481C13.477,9.174,14.461,9,15.495,9 c1.036,0,2.024,0.174,2.922,0.483C18.675,9.17,19.763,8,21.565,8c0.732,0.731,0.381,2.656,0.102,3.594 c0.836,0.945,1.328,2.066,1.328,3.226c0,2.697-1.904,4.684-5.894,5.097C18.199,20.49,19,22.1,19,23.313v2.734 c0,0.104-0.023,0.179-0.035,0.268C23.641,24.676,27,20.236,27,15C27,8.373,21.627,3,15,3z">
                        </path>
                    </svg>
                </a>
            </nav>
        </div>
    </footer>
    <!-- Footer : End -->

    <!-- Delete User Profile Modal : Start -->
    <dialog id="deleteUserProfileModal" class="backdrop-blur-sm backdrop-grayscale modal">
        <div class="p-0 modal-box">
            <div class="flex items-center gap-4 p-6">
                <svg class="w-8 h-8 text-error" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor"
                    viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z">
                    </path>
                </svg>

                <h2 class="font-medium text-lg">
                    Are you sure you want to delete your account?
                </h2>
            </div>

            <form class="pb-6" method="dialog">
                <p class="mt-1 px-6 text-sm">
                    Once your account is deleted, all of its resources and data will be permanently deleted.
                    Please enter your password to confirm you would like to permanently delete your account.
                </p>

                <label class="form-control mt-6 px-6 w-full">
                    <div class="label">
                        <span class="label-text">Password</span>
                    </div>

                    <input id="password" name="password" type="password" class="input-bordered w-full max-w-xs input"
                        placeholder="Password" />
                </label>

                <div class="divider"></div>

                <div class="flex justify-end px-6">
                    <button class="btn btn-primary">
                        Cancel
                    </button>

                    <button type="submit" class="btn btn-error ms-3">
                        Delete Account
                    </button>
                </div>
            </form>
        </div>
    </dialog>
    <!-- Delete User Profile Modal : End -->
</body>

</html>
