<div id="task-list" class="flex flex-col gap-4 bg-base-100 shadow-lg px-6 py-4 rounded-md">
    {{if (len(tasks) == 0 && !hasSearch) || (isset(hasError) && hasError)}}
    <div class="flex flex-col justify-center items-center gap-4 py-8">
        <svg class="opacity-25 w-12 h-12 text-base-content" data-slot="icon" fill="none" stroke-width="1.5"
            stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"></path>
        </svg>

        <p class="font-semibold text-lg text-center">You have no tasks yet</p>
    </div>
    {{else if len(tasks) == 0 && hasSearch}}
    <div class="flex flex-col justify-center items-center gap-4 py-8">
        <svg class="w-12 h-12 text-base-content" data-slot="icon" fill="none" stroke-width="1.5" stroke="currentColor"
            viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M12 3c2.755 0 5.455.232 8.083.678.533.09.917.556.917 1.096v1.044a2.25 2.25 0 0 1-.659 1.591l-5.432 5.432a2.25 2.25 0 0 0-.659 1.591v2.927a2.25 2.25 0 0 1-1.244 2.013L9.75 21v-6.568a2.25 2.25 0 0 0-.659-1.591L3.659 7.409A2.25 2.25 0 0 1 3 5.818V4.774c0-.54.384-1.006.917-1.096A48.32 48.32 0 0 1 12 3Z">
            </path>
        </svg>

        <p class="font-semibold text-lg text-center">No tasks found</p>
    </div>
    {{else}}
    {{range _, task := tasks}}
    <div class="bg-primary/5 shadow px-4 py-3 border border-primary/10 rounded-md">
        <div class="flex justify-between items-center">
            <label class="flex items-center gap-4">
                {{if task.Status}}
                <input type="checkbox" name="status" class="checkbox checkbox-lg checked:checkbox-primary"
                    hx-post="/hx/toggle-task-status/{{task.ID}}" hx-trigger="change" checked />
                {{else}}
                <input type="checkbox" name="status" class="checkbox checkbox-lg"
                    hx-post="/hx/toggle-task-status/{{task.ID}}" hx-trigger="change" />
                {{end}}

                <div>
                    <h4 class="font-semibold text-lg">{{task.Message}}</h4>
                    <div class="flex gap-3">
                        <span class="py-2 text-secondary-content cursor-pointer badge badge-secondary badge-sm">
                            priority: {{task.Priority.Name|lower}}
                        </span>

                        <span class="py-2 text-secondary-content cursor-pointer badge badge-secondary badge-sm">
                            category: {{task.Category.Name|lower}}
                        </span>
                    </div>
                </div>
            </label>

            <div class="flex gap-2">
                <button hx-get="/hx/delete-task-modal/{{task.ID}}" hx-target="#modal" hx-swap="innerHTML"
                    class="bg-base-100 btn btn-square hover:btn-error">
                    <svg class="w-5 h-5 text-content" data-slot="icon" fill="none" stroke-width="1.5"
                        stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0">
                        </path>
                    </svg>
                </button>

                <button hx-get="/hx/edit-task-modal/{{task.ID}}" hx-target="#modal" hx-swap="innerHTML"
                    class="bg-base-100 btn btn-square hover:btn-primary">
                    <svg class="w-5 h-5 text-content" data-slot="icon" fill="none" stroke-width="1.5"
                        stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10">
                        </path>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    {{end}}
    {{end}}
</div>
